@font-face {
    font-family: 'hps';
    src: url('/assets/house_paint_slab.ttf');
}

* {
  font-family: 'hps';
}

body {
  background-color: black;
  border: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

iframe {
  width: 100vw;
  height: 100vh;
}
